<main class="flex min-h-screen flex-col items-center justify-center p-5">
  <div class="w-full max-w-4xl mx-auto px-2 sm:px-4 py-8 font-inter text-gray-900">
    <.flash_group flash={@flash} />
    <.header />
    <%= @inner_content %>  
  </div>
</main>
